 # Human-Centric Learning Analytics â€“ EDA Overview

In this notebook, we explore synthetic learner data from both SQL (SQLite) and NoSQL (MongoDB).

## 1. Loading Data from SQLite

We'll start with loading the learners and clickstream data from our local learning_analytics.db (SQL).

In [3]:
# Imports

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set visual style
sns.set(style="whitegrid")

In [7]:
# Connecting to SQLite and loading tables 

# Connect to the SQL database
conn = sqlite3.connect("../data/learning_analytics.db")

# Load Tables into DataFrames
learners_df= pd.read_sql_query("SELECT * FROM learners", conn) 
clickstream_df= pd.read_sql_query("SELECT * FROM clickstream", conn) 

# Close the connection
conn.close()

# Preview the data
learners_df.head()

   learner_id    name  age  gender  average_score
0           0    Mary   58      25          51.25
1           1  Ashley   35      33          61.16
2           2    Mark   24      52          54.35
3           3  Robert   45      20          51.49
4           4  Andrew   31      32          75.27